#card-container {  
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;

  padding: 26px;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0px 2px 8px -6px #111;    
}

#card-container a {  
  text-decoration: none;
  background: #002f58;
  color: #fff;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 6px;
  margin-left: auto;
  transition: 0.2s;
}

#card-container a:hover {    
  background: #001c35; 
}

#table-container {  
  font-family: arial;
  border-collapse: collapse;
  width: 70%;  
  font-size: 16px;  
}


#table-container th {
  text-align: left;
  padding: 8px 16px;  
}

#table-container td {
  text-align: left;
  padding: 16px;  
  border-top: 1px solid #dddddd;  
}


